<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css" />
        <script
         src="https://kit.fontawesome.com/dd62dc1447.js"
         crossorigin="anonymous"
         ></script>
        <title>ICT FEST 2021</title>
    </head> 
  

    <body>

        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6 m-auto">
                    <div class="card card-body text center">
                        <h1> <i class="fab fa-node-js fa-3x"></i> </h1>
                        <p>Create an account or login</p>
                        <a href="/login" class="btn btn-primary btn-block mb-2"
                        >Login </a>
                        <a href="/register" class="btn btn-primary btn-block mb-2"
                        >Register </a>
                    </div>
                </div>

            </div>

        </div>

        
        

    </body>
</html>